{% extends "base.html" %}
{% load static%}
<!-- Inicio del Contenido de Pagina -->
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Administrar Permisos</h1>
    <!-- DataTales Example -->
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row justify-content-between">
                        <div class="col-xs-6">
                            <h2>Listado <b>Usuarios</b></h2>
                        </div>   
                                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..."
                                        aria-label="Search" aria-describedby="basic-addon2">
                                    </div>
                                </form>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th>Nombre de usuario</th>
                            <th>Sexo</th>
                            <th>Permiso</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in users %}
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                    <label for="checkbox1"></label>
                                </span>
                            </td>
                            <td>{{u.username}}</td>
                            <td>{{u.sexo}}</td>
                            <td>{% if u.es_estudiante %}Estudiante{% endif %}
                                {% if not u.es_estudiante %}Jefe de Departamento{% endif %}
                            </td>
                            <td>
                                <a href="#editEmployeeModal" class="edit" data-toggle="modal" data-id="{{u.id}}" data-es_estudiante="{{u.es_estudiante}}"><i class="material-icons" data-toggle="tooltip" title="Modificar Permisos">&#xE254;</i></a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="2">No hay usuarios disponibles.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Página <b>{{page_obj.number}}</b> de <b>{{page_obj.paginator.num_pages}}</b></div>
                    <ul class="pagination">
                        
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a href="{% url 'Administrar_Permisos'%}?page ={{page_obj.previous_page_number}}">Anterior</a></li>
                        {% else %}
                        <li class="page-item disabled"><a href="#">Anterior</a></li>
                        {% endif %}
                        
   
                        <li class="page-item active"><a class="page-link" href="#">{{page_obj.number}}</a></li>


                        {% if page_obj.has_next %}
                        <li class="page-item"><a href="{% url 'Administrar_Permisos'%}?page={{page_obj.next_page_number}}">Siguiente</a></li>
                        {% else %}
                        <li class="page-item disabled"><a href="#" class="page-link">Siguiente</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>        
    </div>

        <!-- exito edit Modal HTML -->
    <div id="exitoeditEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">						
                        <h4 class="modal-title">Éxito</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <p>Se ha modificado el permiso al usuario exitosamente</p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-success" data-dismiss="modal" value ="Aceptar">
                    </div>
            </div>
        </div>

        </div>    
    <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="editUserForm" action="{% url 'Modificar_Permisos' 0 %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">						
                        <h4 class="modal-title">Modificar Permiso del usuario</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <div class="form-group">
                            <label>Permiso</label>
                            <select class="form-control" required name = "es_estudiante">
                                <option value = True>Estudiante</option>
                                <option value = False>Jefe de Departamento</option>                          
                            </select>
                        </div>                        					
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-info" value="Aceptar">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}
<!-- Fin del Contenido de Pagina -->
{% block extrajs %}
<script type="text/javascript">
   var $ = jQuery.noConflict()
   $(document).ready(function(){
       // Abrir modal de edición y ajustar acción del formulario
       $('#editEmployeeModal').on('show.bs.modal', function (event) {
           var button = $(event.relatedTarget); // Botón que activó el modal
           var userId = button.data('id'); // Extraer info de los atributos data-*
           var es_estudiante = button.data('es_estudiante');
           var modal = $(this);
           var actionUrl = "{% url 'Modificar_Permisos' 0 %}".replace('0', userId);
           modal.find('form#editUserForm').attr('action', actionUrl);

           modal.find('select[name="es_estudiante"]').val(es_estudiante);
       });
       // Obtener los parámetros de la URL
       const params = new URLSearchParams(window.location.search);
       // Comprobar si existe el parámetro 'created'
       if (params.has('edit')){
        $('#exitoeditEmployeeModal').modal('show');
       }
   });
</script>
{% endblock extrajs %}