{% extends "base.html" %}
{% load static %}
<!-- Inicio del Contenido de Pagina -->
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Gestionar Usuarios</h1>
    <!-- DataTales Example -->
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row justify-content-between">
                        <div class="col-xs-6">
                            <h2>Listado <b>Usuarios</b></h2>
                        </div>   
                                <form action="" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar por nombre..." name ="q" value="{{request.GET.q}}" aria-label="Search" aria-describedby="basic-addon2">
                                    </div>
                                </form>
                        <div class="col-xs-6 d-flex align-items-center justify-content-end">
                            <a href="#addEmployeeModal" class="btn btn-success mr-2" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Añadir</span></a>
                        </div>
                    </div>
                </div>
                <table id="miTabla" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Nombre(s)</th>
                            <th>Apellidos</th>
                            <th>Correo UCI</th>
                            <th>Sexo</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in users %}
                        <tr>
                            <td>{{u.username}}</td>
                            <td>{{u.first_name}}</td>
                            <td>{{u.last_name}}</td>
                            <td>{{u.email}}</td>
                            <th>{{u.sexo}}</th>
                            <td>
                                <a href="#editEmployeeModal" class="edit" data-toggle="modal" 
                                data-id="{{u.id}}"
                                data-username="{{u.username}}"
                                data-first_name="{{u.first_name}}"
                                data-last_name="{{u.last_name}}"
                                data-email="{{u.email}}"
                                data-edad="{{u.edad}}"
                                data-sexo="{{u.sexo}}"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal" data-id="{{u.id}}"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="2">No hay usuarios disponibles.</td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Página <b>{{page_obj.number}}</b> de <b>{{page_obj.paginator.num_pages}}</b></div>
                    <ul class="pagination">
                        
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a href="{% url 'Gestionar_Usuarios'%}?page ={{page_obj.previous_page_number}}">Anterior</a></li>
                        {% else %}
                        <li class="page-item disabled"><a href="#">Anterior</a></li>
                        {% endif %}
                        
   
                        <li class="page-item active"><a class="page-link" href="#">{{page_obj.number}}</a></li>


                        {% if page_obj.has_next %}
                        <li class="page-item"><a href="{% url 'Gestionar_Usuarios'%}?page={{page_obj.next_page_number}}">Siguiente</a></li>
                        {% else %}
                        <li class="page-item disabled"><a href="#" class="page-link">Siguiente</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>        
    </div>
    <!-- Create Modal HTML -->
    <div id="addEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="addUserForm" action= "{% url 'Crear_Usuario'%}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">						
                        <h4 class="modal-title">Añadir Usuario</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Nombre de usuario</label>
                            <input type="text" class="form-control" required  minlength="4" maxlength="50" name = "username">
                        </div>
                        <div class="form-group">
                            <label>Nombre(s)</label>
                            <input type="text" class="form-control" required minlength="4" maxlength="50" name="first_name">
                        </div>
                        <div class="form-group">
                            <label>Apellidos</label>
                            <input type="text" class="form-control" required minlength="4" maxlength="50" name = "last_name">
                        </div>
                        <div class="form-group">
                            <label>Edad</label>
                            <input type="number" class="form-control" required min="18" max="100" name = "edad">
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input type="password" class="form-control" required name="password1" id="password1">
                            <div id="password1Error" class="alert alert-danger mt-3" style="display:none;">Las contraseñas no coinciden. Por favor, inténtalo de nuevo.</div>                       
                        </div>       
                        <div class="form-group">
                            <label>Confirmar Contraseña</label>
                            <input type="password" class="form-control" required name = "password2" id="password2" >
                        </div>
                        <div class="form-group">
                            <label>Correo UCI</label>
                            <input type="email" class="form-control" required name="email">
                        </div>
                        <div class="form-group">
                            <label>Rol</label>
                            <select class="form-control" required name="es_estudiante">
                                <option value = true >Estudiante</option>
                                <option value = false >Jefe de Departamento</option>                          
                            </select>
                        </div>		
                        <div class="form-group">
                            <label>Sexo</label>
                            <select class="form-control" required name="sexo">
                                <option value = "Otro">Otro</option>
                                <option value = "Femenino">Femenino</option>
                                <option value = "Masculino">Masculino</option>                            
                            </select>
                        </div>				
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-success" value="Aceptar">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="editUserForm" action="{% url 'Modificar_Usuario' 0 %}" method="POST">
                    {% csrf_token %}                
                    <div class="modal-header">						
                        <h4 class="modal-title">Editar Usuario</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <div class="form-group">
                            <label>Foto de Perfil</label>
                            <div class="img-profile rounded-circle">
                            <img class="img-profile rounded-circle"
                                src="{% static '\Principal\img\undraw_profile.svg' %}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Nombre de usuario</label>
                            <input type="text" class="form-control" required  minlength="4" maxlength="50" name = "username">
                        </div>
                        <div class="form-group">
                            <label>Nombre(s)</label>
                            <input type="text" class="form-control" required  minlength="4" maxlength="50" name="first_name">
                        </div>
                        <div class="form-group">
                            <label>Apellidos</label>
                            <input type="text" class="form-control" required  minlength="4" maxlength="50" name = "last_name">
                        </div>
                        <div class="form-group">
                            <label>Edad</label>
                            <input type="text" class="form-control" required min="18" max="100" name = "edad">
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input type="password" class="form-control" required name= "password" id="password3" >
                            <div id="password2Error" class="alert alert-danger mt-3" style="display:none;">Las contraseñas no coinciden. Por favor, inténtalo de nuevo.</div>
                        </div>       
                        <div class="form-group">
                            <label>Confirmar Contraseña</label>
                            <input type="password" class="form-control" required id="password4">
                        </div>
                        <div class="form-group">
                            <label>Correo UCI</label>
                            <input type="email" class="form-control" required name="email">
                        </div>
                        <div class="form-group" >
                            <label>Sexo</label>
                            <select class="form-control" required name = "sexo">
                                <option value = "Otro">Otro</option>
                                <option value = "Femenino">Femenino</option>
                                <option value = "Masculino">Masculino</option>                            
                            </select>
                        </div>				
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-info" value="Aceptar">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- exito Modal HTML -->
    <div id="exitoEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">						
                        <h4 class="modal-title">Éxito</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <p>Se ha creado el usuario exitosamente</p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-success" data-dismiss="modal" value ="Aceptar">
                    </div>
            </div>
        </div>
    </div>
        <!-- exito edit Modal HTML -->
        <div id="exitoeditEmployeeModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">						
                            <h4 class="modal-title">Éxito</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">					
                            <p>Se ha modificado el usuario exitosamente</p>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-success" data-dismiss="modal" value ="Aceptar">
                        </div>
                </div>
            </div>
        </div>
            <!-- exito delete Modal HTML -->
            <div id="exitodeleteEmployeeModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                            <div class="modal-header">						
                                <h4 class="modal-title">Éxito</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">					
                                <p>Se ha Borrado el usuario exitosamente</p>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-success" data-dismiss="modal" value ="Aceptar">
                            </div>
                    </div>
                </div>
            </div>
            <!-- error usuario Modal HTML -->
            <div id="errorEmployeeModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                            <div class="modal-header">						
                                <h4 class="modal-title">Error</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">					
                                <p>El usuario creado ya existe, por favor intentelo de nuevo</p>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-danger" data-dismiss="modal" value ="Aceptar">
                            </div>
                    </div>
                </div>
            </div>
        
    <!-- Delete Modal HTML -->
    <div id="deleteEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="deleteUserForm" action="{% url 'Eliminar_Usuario' 0 %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">						
                        <h4 class="modal-title">Eliminar Usuario</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <p>¿Está seguro que desea eliminar al usuario de la plataforma ?</p>
                        <p class="text-warning"><small>Esta acción no se puede revertir.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-danger" value="Eliminar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
<!-- Fin del Contenido de Pagina -->
 {% block extrajs %}
 <script type="text/javascript">
    var $ = jQuery.noConflict()
    $(document).ready(function(){
        // Abrir modal de edición y ajustar acción del formulario
        $('#editEmployeeModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Botón que activó el modal
            var userId = button.data('id'); // Extraer info de los atributos data-*
            var username = button.data('username');
            var firstName = button.data('first_name');
            var lastName = button.data('last_name');
            var email = button.data('email');
            var edad = button.data('edad');
            var sexo = button.data('sexo');
    
            var modal = $(this);
            var actionUrl = "{% url 'Modificar_Usuario' 0 %}".replace('0', userId);
            modal.find('form#editUserForm').attr('action', actionUrl);
    
            // Rellenar los campos del formulario con los valores extraídos
            modal.find('input[name="username"]').val(username);
            modal.find('input[name="first_name"]').val(firstName);
            modal.find('input[name="last_name"]').val(lastName);
            modal.find('input[name="email"]').val(email);
            modal.find('input[name="edad"]').val(edad);
            modal.find('select[name="sexo"]').val(sexo);
        });
    
        // Abrir modal de eliminación y ajustar acción del formulario
        $('#deleteEmployeeModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Botón que activó el modal
            var userId = button.data('id'); // Extraer info de los atributos data-*
    
            var modal = $(this);
            var actionUrl = "{% url 'Eliminar_Usuario' 0 %}".replace('0', userId);
            modal.find('form#deleteUserForm').attr('action', actionUrl);
        });
    
        // Obtener los parámetros de la URL
        const params = new URLSearchParams(window.location.search);
        // Comprobar si existe el parámetro 'created'
        if (params.has('created')) {
            // Mostrar la notificación usando modal
            $('#exitoEmployeeModal').modal('show');
        }
        if (params.has('edit')){
            $('#exitoeditEmployeeModal').modal('show');
        }
        if (params.has('delete')){
            $('#exitodeleteEmployeeModal').modal('show');
        }
        if (params.has('error')){
            $('#errorEmployeeModal').modal('show');
        }
    
        // Validación de campos en el formulario de creación
        $('#addUserForm').on('submit', function(e) {
            var username = $('#addUserForm input[name="username"]').val();
            var firstName = $('#addUserForm input[name="first_name"]').val();
            var lastName = $('#addUserForm input[name="last_name"]').val();
            var password1 = $('#addUserForm input[name="password1"]').val();
            var password2 = $('#addUserForm input[name="password2"]').val();
            var email = $('#addUserForm input[name="email"]').val();
    
            // Validación de nombre de usuario
            if (!/^[a-zA-Z0-9]+$/.test(username){
                alert('El nombre de usuario solo puede contener letras y números.');
                e.preventDefault();
                return;
            }
    
            // Validación de nombres
            if (!/^[a-zA-Z]+$/.test(firstName){
                alert('El nombre solo puede contener letras.');
                e.preventDefault();
                return;
            }
            if (!/^[a-zA-Z]+$/.test(lastName)) {
                alert('El apellido debe tener entre 4 y 50 caracteres y solo puede contener letras.');
                e.preventDefault();
                return;
            }
    
            // Validación de contraseña
            if (!/^(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}$/.test(password1) || password1 !== password2) {
                alert('La contraseña debe tener al menos 8 caracteres, una letra mayúscula, una letra minúscula y un carácter especial');
                e.preventDefault();
                return;
            }
    
            // Validación de correo electrónico
            if (!/^[a-z]{4,10}@uci\.cu$/.test(email)) {
                alert('El correo electrónico debe tener un formato válido (ejemplo: abcd@uci.cu).');
                e.preventDefault();
                return;
            }
        });
    });
</script>
 {% endblock extrajs %}