{% extends "base.html" %}
{% load static %}
<!-- Inicio del Contenido de Pagina -->
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Gestionar Inscripciones</h1>
    <!-- DataTales Example -->
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row justify-content-between">
                        <div class="col-xs-6">
                            <h2>Listado <b>Inscripciones</b></h2>
                        </div>   
                                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..."
                                        aria-label="Search" aria-describedby="basic-addon2">
                                    </div>
                                </form>
                        <div class="col-xs-6 d-flex align-items-center justify-content-end">
                            <a href="#addEmployeeModal" class="btn btn-success mr-2" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Añadir</span></a>
                            <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Eliminar</span></a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th>Nombre del Equipo</th>
                            <th>Evento</th>
                            <th>Integrantes</th>
                            <th>Requisitos</th>
                            <th>Estado</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in incri %}
                        {% if i.estado == "Denegada" or i.estado == "Aceptada"%}
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                    <label for="checkbox1"></label>
                                </span>
                            </td>
                            <td>{{i.nombre_equipo}}</td>
                            <td>{{i.convocatoria.evento.nombre_evento}}</td>
                            <td>{{i.integrante1}},{{i.integrante2}},{{i.integrante3}}</td>
                            <td>{{i.convocatoria.evento.requisitos}}</td>
                            <td><strong>{{i.estado}}</strong></td>
                            <td>
                                <a href="#editEmployeeModal" class="edit" data-toggle="modal" data-id="{{i.id}}" 
                                                                                              data-nombre_evento="{{i.convocatoria.evento.nombre_evento}}"
                                                                                              data-nombre_equipo="{{i.nombre_equipo}}"
                                                                                              data-integrante1="{{i.integrante1}}"
                                                                                              data-integrante2="{{i.integrante2}}"
                                                                                              data-integrante3="{{i.integrante3}}"
                                                                                              data-requisitos="{{i.convocatoria.evento.requisitos}}"
                                                                                              data-estado="{{i.estado}}"                                                              
                                ><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal" data-id="{{i.id}}" ><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr>
                        {% endif %}
                        {% empty %}
                        <tr>
                            <td colspan="2">No se ha efectuado ninguna inscripción.</td>
                        </tr>
                        {% endfor %}                        
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Página <b>{{page_obj.number}}</b> de <b>{{page_obj.paginator.num_pages}}</b></div>
                    <ul class="pagination">
                        
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a href="{% url 'Gestionar_Inscripciones'%}?page ={{page_obj.previous_page_number}}">Anterior</a></li>
                        {% else %}
                        <li class="page-item disabled"><a href="#">Anterior</a></li>
                        {% endif %}
                        
   
                        <li class="page-item active"><a class="page-link" href="#">{{page_obj.number}}</a></li>


                        {% if page_obj.has_next %}
                        <li class="page-item"><a href="{% url 'Gestionar_Inscripciones'%}?page={{page_obj.next_page_number}}">Siguiente</a></li>
                        {% else %}
                        <li class="page-item disabled"><a href="#" class="page-link">Siguiente</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>        
    </div>
    <!-- Edit Modal HTML -->
    <div id="addEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'Agregar_Inscripcion' %}" method= "POST">
                    {% csrf_token %}
                    <div class="modal-header">						
                        <h4 class="modal-title">Añadir Inscripción</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <div class="form-group">
                            <label>Nombre del equipo</label>
                            <input type="text" class="form-control" required name="nombre_equipo" >
                        </div>
                        <div class="form-group">
                            <label for = "user_id ">Convocatoria</label>
                            <select class="form-control" required id="user_id" name="usuario">
                                {% for u in users %}
                                {% if not u.is_staff %}
                                <option value="{{u.id}}">{{u.username}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>       
                        <div class="form-group">
                            <label for = "conv_id">Convocatoria</label>
                            <select class="form-control" required id = "conv_id" name="convocatoria">
                                {% for c in conv%}
                                <option value="{{c.id}}">{{c.nombre_convocatoria}}</option>
                                {% endfor %}
                            </select>
                        </div>       
                        <div class="form-group">
                            <label>Nombre y apellidos Integrante #1</label>
                            <input type="text" class="form-control" required name = "integrante1">
                        </div>
                        <div class="form-group">
                            <label>Nombre y apellidos Integrante #2</label>
                            <input type="text" class="form-control" required name ="integrante2">
                        </div>
                        <div class="form-group">
                            <label>Nombre y apellidos Integrante #3</label>
                            <input type="text" class="form-control" required name = "integrante3">
                        </div>					
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-success" value="Aceptar">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id = "editIncriForm" action="{% url 'Modificar_Inscripcion' 0 %}" method= "POST">
                    {% csrf_token %}
                    <div class="modal-header">						
                        <h4 class="modal-title">Añadir Inscripción</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <div class="form-group">
                            <label>Nombre del equipo</label>
                            <input type="text" class="form-control" required name="nombre_equipo" >
                        </div>
                        <div class="form-group">
                            <label for = "user_id ">Usuario</label>
                            <select class="form-control" required id="user_id" name="usuario">
                                {% for u in users %}
                                {% if not u.is_staff %}
                                <option value="{{u.id}}">{{u.username}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>       
                        <div class="form-group">
                            <label for = "conv_id">Convocatoria</label>
                            <select class="form-control" required id = "conv_id" name="convocatoria">
                                {% for c in conv%}
                                <option value="{{c.id}}">{{c.nombre_convocatoria}}</option>
                                {% endfor %}
                            </select>
                        </div>       
                        <div class="form-group">
                            <label>Nombre y apellidos Integrante #1</label>
                            <input type="text" class="form-control" required name = "integrante1">
                        </div>
                        <div class="form-group">
                            <label>Nombre y apellidos Integrante #2</label>
                            <input type="text" class="form-control" required name ="integrante2">
                        </div>
                        <div class="form-group">
                            <label>Nombre y apellidos Integrante #3</label>
                            <input type="text" class="form-control" required name = "integrante3">
                        </div>
                        <div class="form-group">
                            <label>Estado</label>
                            <select class="form-control" required name="estado">
                                <option value="Aceptada">Aceptada</option>
                                <option value="Denegada">Denegada</option>
                            </select>
                        </div>      					
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-success" value="Aceptar">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- exito Modal HTML -->
    <div id="exitoEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">						
                        <h4 class="modal-title">Éxito</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <p>Se ha creado la inscripción exitosamente</p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-success" data-dismiss="modal" value ="Aceptar">
                    </div>
            </div>
        </div>
    </div>
        <!-- exito edit Modal HTML -->
        <div id="exitoeditEmployeeModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">						
                            <h4 class="modal-title">Éxito</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">					
                            <p>Se ha modificado la inscripción exitosamente</p>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-success" data-dismiss="modal" value ="Aceptar">
                        </div>
                </div>
            </div>
        </div>
            <!-- exito delete Modal HTML -->
            <div id="exitodeleteEmployeeModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                            <div class="modal-header">						
                                <h4 class="modal-title">Éxito</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">					
                                <p>Se ha Borrado la inscripción exitosamente</p>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-success" data-dismiss="modal" value ="Aceptar">
                            </div>
                    </div>
                </div>
            </div>
    <!-- Delete Modal HTML -->
    <div id="deleteEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="deleteIncriForm" action= "{% url 'Eliminar_Inscripcion' 0 %}" method = "POST">
                    {% csrf_token %}
                    <div class="modal-header">						
                        <h4 class="modal-title">Borrar Inscripcion/es</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <p>¿Esta seguro de querer borrar el/los registro/s?</p>
                        <p class="text-warning"><small>Esta acción no se puede revertir.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-danger" value="Eliminar">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>                                                                                                                                                                               
{%endblock%}
<!-- Fin del Contenido de Pagina -->
{% block extrajs %}
<script type="text/javascript">
   var $ = jQuery.noConflict()
   $(document).ready(function(){
       // Abrir modal de edición y ajustar acción del formulario
       $('#editEmployeeModal').on('show.bs.modal', function (event) {
           var button = $(event.relatedTarget); // Botón que activó el modal
           var incri_id = button.data('id'); // Extraer info de los atributos data-*
           var nombre_equipo = button.data('nombre_equipo');
           var integrante1 = button.data('integrante1');
           var integrante2 = button.data('integrante2');
           var integrante3 = button.data('integrante3');
           var estado = button.data('estado');


           var modal = $(this);
           var actionUrl = "{% url 'Modificar_Inscripcion' 0 %}".replace('0', incri_id);
           modal.find('form#editIncriForm').attr('action', actionUrl);

           // Rellenar los campos del formulario con los valores extraídos
           modal.find('input[name="nombre_equipo"]').val(nombre_equipo);
           modal.find('input[name="integrante1"]').val(integrante1);
           modal.find('input[name="integrante2"]').val(integrante2);
           modal.find('input[name="integrante3"]').val(integrante3);
           modal.find('input[name="estado"]').val(estado);
       });
               // Abrir modal de eliminación y ajustar acción del formulario
       $('#deleteEmployeeModal').on('show.bs.modal', function (event) {
           var button = $(event.relatedTarget); // Botón que activó el modal
           var incri_id = button.data('id'); // Extraer info de los atributos data-*

           var modal = $(this);
           var actionUrl = "{% url 'Eliminar_Inscripcion' 0 %}".replace('0', incri_id);
           modal.find('form#deleteIncriForm').attr('action', actionUrl);
       });
               // Obtener los parámetros de la URL
        const params = new URLSearchParams(window.location.search);
        // Comprobar si existe el parámetro 'created'
        if (params.has('created')) {
            // Mostrar la notificación usando modal
            $('#exitoEmployeeModal').modal('show');
        }
        if (params.has('edit')){
            $('#exitoeditEmployeeModal').modal('show');
        }
        if (params.has('delete')){
            $('#exitodeleteEmployeeModal').modal('show');
        }
   });
</script>
{% endblock extrajs %}