{% extends "base.html" %}
{% load static %}
<!-- Inicio del Contenido de Pagina -->
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Inscripciones</h1>
    <!-- DataTales Example -->
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row justify-content-between">
                        <div class="col-xs-6">
                            <h2>Listado <b>Inscripciones</b></h2>
                        </div>   
                                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..."
                                        aria-label="Search" aria-describedby="basic-addon2">
                                    </div>
                                </form>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th>Nombre del Equipo</th>
                            <th>Evento</th>
                            <th>Integrantes</th>
                            <th>Requisitos</th>
                            <th>Estado</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in incri %}
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                    <label for="checkbox1"></label>
                                </span>
                            </td>
                            <td>{{i.nombre_equipo}}</td>
                            <td>{{i.convocatoria.evento.nombre_evento}}</td>
                            <td>{{i.integrante1}},{{i.integrante2}},{{i.integrante3}}</td>
                            <td>{{i.convocatoria.evento.requisitos}}</td>
                            <td><strong>{{i.estado}}</strong></td>
                            <td>
                                <a href="#editEmployeeModal" class="edit" data-toggle="modal" data-id="{{i.id}}" data-conv_id="{{i.convocatoria.id}}" data-nombre_equipo="{{i.nombre_equipo}}" data-integrante1="{{i.integrante1}}" data-integrante2="{{i.integrante2}}" data-integrante3="{{i.integrante3}}"><i class="material-icons" data-toggle="tooltip" title="Editar Inscripción">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal" data-id="{{i.id}}"><i class="material-icons" data-toggle="tooltip" title="Eliminar Inscrición">&#xE872;</i></a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="2">No se ha efectuado ninguna inscripcion.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Página <b>5</b> de <b>25</b> Registros</div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Anterior</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Siguiente</a></li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>

    <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="editIncriForm" action= "{% url 'Editar_Inscripcion' 0 %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">						
                        <h4 class="modal-title">Editar Inscripcion</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <div class="form-group">
                            <label>Nombre del Equipo</label>
                            <input type="text" class="form-control" required name = "nombre_equipo">
                        </div>
                        <div class="form-group">
                            <label>Integrantes</label>
                            <input type="text" class="form-control" required name = "integrante1">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" required name = "integrante2">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" required name = "integrante3">
                        </div>
                        <input type="hidden" class="form-control" id="conv_id" name="convocatoria">
                        <input type="hidden" class="form-control" id="user_id" name = "usuario" value ="{{user_custom.id}}">
                        			
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-info" value="Aceptar">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Delete Modal HTML -->
    <div id="deleteEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="deleteIncriForm" action= "{% url 'Borrar_Inscripcion' 0 %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">						
                        <h4 class="modal-title">Borrar Inscripcion/es</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <p>¿Esta seguro de querer borrar el/los registro/s?</p>
                        <p class="text-warning"><small>Esta acción no se puede revertir.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-danger" value="Eliminar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>                                                                                                                                                                               

{%endblock%}
<!-- Fin del Contenido de Pagina -->
{% block extrajs %}
<script type="text/javascript">
   var $ = jQuery.noConflict()
   $(document).ready(function(){
       // Abrir modal de edición y ajustar acción del formulario
       $('#editEmployeeModal').on('show.bs.modal', function (event) {
           var button = $(event.relatedTarget); // Botón que activó el modal
           var incri_id = button.data('id'); // Extraer info de los atributos data-*
           var conv_id = button.data('conv_id');
           var nombre_equipo = button.data('nombre_equipo');
           var integrante1 = button.data('integrante1');
           var integrante2 = button.data('integrante2');
           var integrante3 = button.data('integrante3');

           var modal = $(this);
           var actionUrl = "{% url 'Editar_Inscripcion' 0 %}".replace('0', incri_id);
           modal.find('form#editIncriForm').attr('action', actionUrl);

           // Rellenar los campos del formulario con los valores extraídos
           modal.find('input[name="convocatoria"]').val(conv_id);
           modal.find('input[name="nombre_equipo"]').val(nombre_equipo);
           modal.find('input[name="integrante1"]').val(integrante1);
           modal.find('input[name="integrante2"]').val(integrante2);
           modal.find('input[name="integrante3"]').val(integrante3);
       });
               // Abrir modal de eliminación y ajustar acción del formulario
       $('#deleteEmployeeModal').on('show.bs.modal', function (event) {
           var button = $(event.relatedTarget); // Botón que activó el modal
           var incri_id = button.data('id'); // Extraer info de los atributos data-*

           var modal = $(this);
           var actionUrl = "{% url 'Borrar_Inscripcion' 0 %}".replace('0', incri_id);
           modal.find('form#deleteIncriForm').attr('action', actionUrl);
       });
   });
</script>
{% endblock extrajs %}