{% extends "base.html" %}
{% load static %}
<!-- Inicio del Contenido de Pagina -->
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Gestionar Convocatorias</h1>
    <!-- DataTales Example -->
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row justify-content-between">
                        <div class="col-xs-6">
                            <h2>Listado <b>Convocatorias</b></h2>
                        </div>   
                                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..."
                                        aria-label="Search" aria-describedby="basic-addon2">
                                    </div>
                                </form>
                        <div class="col-xs-6 d-flex align-items-center justify-content-end">
                            <a href="#addEmployeeModal" class="btn btn-success mr-2" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Añadir</span></a>
                            <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Eliminar</span></a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th>Nombre</th>
                            <th>Evento</th>
                            <th>Descripción</th>
                            <th>Requisitos</th>
                            <th>Ubicación</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in conv%}
                        <tr>
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                                    <label for="checkbox1"></label>
                                </span>
                            </td>
                            <td>{{c.nombre_convocatoria}}</td>
                            <td>{{c.evento.nombre_evento}}</td>
                            <td>{{c.evento.descripcion}}</td>
                            <td>{{c.evento.requisitos}}</td>
                            <td>{{c.ubicacion}}</td>
                            <td>{{c.fecha}}</td>
                            <td>{{c.hora}}</td>
                            <td>
                                <a href="#editEmployeeModal" class="edit" data-toggle="modal" data-id="{{c.id}}"
                                                                                              data-nombre_convocatoria="{{c.nombre_convocatoria}}"                                                              
                                                                                              data-nombre_evento="{{c.evento.nombre_evento}}"
                                                                                              data-descripcion="{{c.evento.descripcion}}"
                                                                                              data-requisitos="{{c.evento.requisitos}}"
                                                                                              data-ubicacion="{{c.ubicacion}}"
                                                                                              data-fecha="{{c.fecha}}"
                                                                                              data-hora="{{c.hora}}"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal" data-id="{{c.id}}"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="2">No hay convocatorias disponibles.</td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Página <b>{{page_obj.number}}</b> de <b>{{page_obj.paginator.num_pages}}</b></div>
                    <ul class="pagination">
                        
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a href="{% url 'Gestionar_Convocatorias'%}?page ={{page_obj.previous_page_number}}">Anterior</a></li>
                        {% else %}
                        <li class="page-item disabled"><a href="#">Anterior</a></li>
                        {% endif %}
                        
   
                        <li class="page-item active"><a class="page-link" href="#">{{page_obj.number}}</a></li>


                        {% if page_obj.has_next %}
                        <li class="page-item"><a href="{% url 'Gestionar_Convocatorias'%}?page={{page_obj.next_page_number}}">Siguiente</a></li>
                        {% else %}
                        <li class="page-item disabled"><a href="#" class="page-link">Siguiente</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>        
    </div>
    <!-- Edit Modal HTML -->
    <div id="addEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action= "{% url 'Crear_Convocatoria'%}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">						
                        <h4 class="modal-title">Añadir Convocatoria</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" class="form-control" required name = "nombre_convocatoria">
                        </div>      
                        <div class="form-group">
                            <label for="evento_id">Evento</label>
                            <select class="form-control" name="evento" id="evento_id">
                                {% for evento in eventos %}
                                    <option value="{{ evento.id }}">{{ evento.nombre_evento }}</option>
                                {% endfor %}
                            </select>
                        </div> 
                        <div class="form-group">
                            <label>Ubicación</label>
                            <input type="text" class="form-control" required name = "ubicacion">
                        </div>
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="date" class="form-control" required name = "fecha">
                        </div>
                        <div class="form-group">
                            <label>Hora</label>
                            <input type="time" class="form-control" required name = "hora">
                        </div>  					
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-success" value="Aceptar">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="editConvForm" action= "{% url 'Modificar_Convocatoria' 0 %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">						
                        <h4 class="modal-title">Editar Convocatoria</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" class="form-control" required name = "nombre_convocatoria">
                        </div>      
                        <div class="form-group">
                            <label for="evento_id">Evento</label>
                            <select class="form-control" name="evento" id="evento_id">
                                {% for evento in eventos %}
                                    <option value="{{ evento.id }}">{{ evento.nombre_evento }}</option>
                                {% endfor %}
                            </select>
                        </div> 
                        <div class="form-group">
                            <label>Ubicación</label>
                            <input type="text" class="form-control" required name = "ubicacion">
                        </div>
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="date" class="form-control" required name = "fecha">
                        </div>
                        <div class="form-group">
                            <label>Hora</label>
                            <input type="time" class="form-control" required name = "hora">
                        </div>  					
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-info" value="Aceptar">
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- exito Modal HTML -->
<div id="exitoEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">						
                    <h4 class="modal-title">Éxito</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <p>Se ha creado la convocatoria exitosamente</p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-success" data-dismiss="modal" value ="Aceptar">
                </div>
        </div>
    </div>
</div>
    <!-- exito edit Modal HTML -->
    <div id="exitoeditEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">						
                        <h4 class="modal-title">Éxito</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <p>Se ha modificado la convocatoria exitosamente</p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-success" data-dismiss="modal" value ="Aceptar">
                    </div>
            </div>
        </div>
    </div>
        <!-- exito delete Modal HTML -->
        <div id="exitodeleteEmployeeModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">						
                            <h4 class="modal-title">Éxito</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">					
                            <p>Se ha Borrado la convocatoria exitosamente</p>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-success" data-dismiss="modal" value ="Aceptar">
                        </div>
                </div>
            </div>
        </div>
    <!-- Delete Modal HTML -->
    <div id="deleteEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="deleteConvForm" action= "{% url 'Eliminar_Convocatoria' 0 %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">						
                        <h4 class="modal-title">Borrar Convocatoria/s</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <p>¿Esta seguro de querer borrar el/los registro/s?</p>
                        <p class="text-warning"><small>Esta acción no se puede revertir.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-danger" value="Eliminar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}
<!-- Fin del Contenido de Pagina -->
{% block extrajs %}
<script type="text/javascript">
   var $ = jQuery.noConflict()
   $(document).ready(function(){
       // Abrir modal de edición y ajustar acción del formulario
       $('#editEmployeeModal').on('show.bs.modal', function (event) {
           var button = $(event.relatedTarget); // Botón que activó el modal
           var conv_id = button.data('id'); // Extraer info de los atributos data-*
           var nombre_convocatoria = button.data('nombre_convocatoria');
           var ubicacion = button.data('ubicacion');
           var fecha = button.data('fecha');
           var hora = button.data('hora');

           var modal = $(this);
           var actionUrl = "{% url 'Modificar_Convocatoria' 0 %}".replace('0', conv_id);
           modal.find('form#editConvForm').attr('action', actionUrl);

           // Rellenar los campos del formulario con los valores extraídos
           modal.find('input[name="nombre_convocatoria"]').val(nombre_convocatoria);
           modal.find('input[name="ubicacion"]').val(ubicacion);
           modal.find('input[name="fecha"]').val(fecha);
           modal.find('input[name="hora"]').val(hora);
       });
               // Abrir modal de eliminación y ajustar acción del formulario
       $('#deleteEmployeeModal').on('show.bs.modal', function (event) {
           var button = $(event.relatedTarget); // Botón que activó el modal
           var conv_id = button.data('id'); // Extraer info de los atributos data-*

           var modal = $(this);
           var actionUrl = "{% url 'Eliminar_Convocatoria' 0 %}".replace('0', conv_id);
           modal.find('form#deleteConvForm').attr('action', actionUrl);
       });
               // Obtener los parámetros de la URL
        const params = new URLSearchParams(window.location.search);
        // Comprobar si existe el parámetro 'created'
        if (params.has('created')) {
            // Mostrar la notificación usando modal
            $('#exitoEmployeeModal').modal('show');
        }
        if (params.has('edit')){
            $('#exitoeditEmployeeModal').modal('show');
        }
        if (params.has('delete')){
            $('#exitodeleteEmployeeModal').modal('show');
        }
   });
</script>
{% endblock extrajs %}