<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema GEDI</title>
    
    <!-- Custom fonts for this template-->
    <link href= "{%static 'Principal/vendor/fontawesome-free/css/all.min.css'%}"  rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'Principal/css/sb-admin-2.css'%}" rel="stylesheet">

    <!-- Estilos para Paginas de Crud  -->
    <link href="{% static 'Principal/vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link href="{% static 'Principal/css/Ver_Perfil.css'%}" rel="stylesheet">
    
    <link href= "{% static 'Principal/css/crud.css'%}"  rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'Principal'%}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img src="{% static 'Principal/img/logo.png' %}" class="sidebar-brand d-flex align-items-center justify-content-center" alt="Logo">
                </div>
                <div class="sidebar-brand-text mx-1"><h7>Bienvenidos al Sistema de Gestión de Convocatorias y Eventos</h7></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider mt-4 mb-1">

            <!-- Nav Item - Inicio -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'Principal'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Inicio</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Operaciones
            </div>

            <!-- Nav Item - Tables -->
            {% if user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Gestionar_Usuarios'%}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Gestionar Usuarios</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Gestionar_Eventos'%}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Gestionar Eventos</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Gestionar_Convocatorias'%}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Gestionar Convocatorias</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Gestionar_Resultados'%}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Gestionar Resultados</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Gestionar Inscripciones</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Opciones de Inscripciones:</h6>
                        <a class="collapse-item" href="{% url 'Gestionar_Inscripciones'%}">Gestionar Inscripciones</a>
                        <a class="collapse-item" href="{% url 'Solicitud_Inscripciones'%}">Solicitud de Inscripciones</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Administrar_Permisos'%}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Administrar Permisos </span></a>
            </li>
            {% endif %}
            <!-- Nav Item - Tables -->
            {% if not user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Ver_Convocatorias'%}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Convocatorias</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Ver_Inscripciones'%}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Inscripciones</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Ver_Resultados'%}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Resultados</span></a>
            </li>
            {% endif %}            
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.username}}</span>
                                {% if user_custom.sexo == 'Masculino' %}
                                <img class="img-profile rounded-circle"
                                    src="{% static '\Principal\img\undraw_profile_2.svg' %}">
                                {% endif %}
                                {% if user_custom.sexo == 'Femenino'%}
                                <img class="img-profile rounded-circle"
                                    src="{% static '\Principal\img\undraw_profile_3.svg' %}">
                                {% endif %}
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ViewModal">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#EditarPerfil">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Editar Perfil
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar Sección
                                </a>
                            </div>
                        </li>
                    </ul>
        
                </nav>
                <!-- Fin del Topbar -->

                <!-- Inicio Container Fluid -->
                {% block content%}
                {% endblock %}
                <!-- / Fin container-fluid -->

            </div>
            <!-- End container -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Universidad de las Ciencias Informáticas, La Habana, 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Seguro que desea salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccione "Aceptar" si esta listo para cerrar esta sección.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="{%url 'login'%}">Aceptar</a>
                </div>
            </div>
        </div>
    </div>
    
<!-- Ver Perfil-->
<div class="modal fade" id="ViewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">  
        <div class="container mt-5 d-flex justify-content-center">
            <div class="targeta p-3">
                <div class="d-flex align-items-center">
                    <div class="image">
                        {% if user_custom.sexo == 'Masculino' %}
                        <img src="{% static '\Principal\img\undraw_profile_2.svg' %}" class="rounded" width="155" >
                        {% endif %}
                        {% if user_custom.sexo == 'Femenino'%}
                        <img src="{% static '\Principal\img\undraw_profile_3.svg' %}" class="rounded" width="155" >
                        {% endif %}
                    </div>
                <div class="ml-3" style="width: 200px;" >                   
                   <h4 class="mb-3 mt-3">{{user.first_name}} {{user.last_name}}</h4>
                   {% if user.is_staff %}
                   <span>Jefe de Departamento</span>
                   {% endif %}
                   {% if not user.is_staff %}
                   <span>Estudiante</span>
                   {% endif %}
                   <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column">
                        <span class="articles">Edad</span>
                        <span class="number1">{{user_custom.edad}}</span>                       
                    </div>
                    <div class="d-flex flex-column">
                        <span class="followers">Correo UCI</span>
                        <span class="number2">{{user.email}}</span>            
                    </div>                 
                   </div>
                   <div class="col-xs-6 justify-content-center mt-2 d-flex flex-row align-items-center ">
                    <a id="accion" href="#" class="btn btn-primary" style="pointer-events: auto!important;" data-toggle="modal" data-target="#EditarPerfil"><span>Editar Perfil</span></a>
                   </div>     
                </div>
                </div>                
            </div>            
         </div>
    </div>
</div>
  

    <!-- Edit Modal HTML -->
    <div class="modal fade" id="EditarPerfil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id = "addUserForm" action="{% url 'Editar_Usuario' user_custom.id %}" method="POST">
                {% csrf_token %}
                <div class="modal-header">						
                    <h4 class="modal-title">Editar Usuario</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <div class="form-group">
                        <label>Foto de Perfil</label>
                        <div class="img-profile rounded-circle">
                            {% if user_custom.sexo == 'Masculino' %}
                            <img class="img-profile rounded-circle"
                                src="{% static '\Principal\img\undraw_profile_2.svg' %}">
                            {% endif %}
                            {% if user_custom.sexo == 'Femenino'%}
                            <img class="img-profile rounded-circle"
                                src="{% static '\Principal\img\undraw_profile_3.svg' %}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nombre de usuario</label>
                        <input type="text" class="form-control" required name = "username" value ="{{user_custom.username}}">
                    </div>
                    <div class="form-group">
                        <label>Nombre(s)</label>
                        <input type="text" class="form-control" required name = "first_name" value= "{{user_custom.first_name}}">
                    </div>
                    <div class="form-group">
                        <label>Apellidos</label>
                        <input type="text" class="form-control" required name = "last_name" value = "{{user_custom.last_name}}">
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input type="password" class="form-control" required name = "password" id="password1">
                        <div id="password1Error" class="alert alert-danger mt-3" style="display:none;">Las contraseñas no coinciden. Por favor, inténtalo de nuevo.</div>
                    </div>       
                    <div class="form-group">
                        <label>Confirmar Contraseña</label>
                        <input type="password" class="form-control" required id="password2">
                    </div>
                    <div class="form-group">
                        <label>Correo UCI</label>
                        <input type="email" class="form-control" required name = "email" value = "{{user_custom.email}}">
                    </div>
                    <div class="form-group">
                        <label>Edad</label>
                        <input type="text" class="form-control" required name = "edad" value = "{{user_custom.edad}}">
                    </div>
                    <div class="form-group">
                        <label>Sexo</label>
                        <select class="form-control" required name="sexo">
                            <option value="Otro" {% if user_custom.sexo == "Otro" %}selected{% endif %}>Otro</option>
                            <option value="Femenino" {% if user_custom.sexo == "Femenino" %}selected{% endif %}>Femenino</option>
                            <option value="Masculino" {% if user_custom.sexo == "Masculino" %}selected{% endif %}>Masculino</option>
                        </select>
                    </div>		
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-info" value="Aceptar">
                </div>
            </form>
        </div>
    </div>
</div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'Principal/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'Principal/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'Principal/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'Principal/js/sb-admin-2.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'Principal/vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src= "{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'Principal/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'Principal/js/demo/chart-pie-demo.js' %}"></script>
    <script src="{% static 'Principal/js/demo/datatables-demo.js'%}"></script>
    
    <!-- Script del CRUD -->     
    <script src="{% static 'Principal/js/script-crud.js' %}"></script>
    
    <script>
        $('#addUserForm').on('submit', function(e) {
            var password1 = $('#password1').val();
            var password2 = $('#password2').val();
            var username = $('#addUserForm input[name="username"]').val();
            var firstName = $('#addUserForm input[name="first_name"]').val();
            var lastName = $('#addUserForm input[name="last_name"]').val();
            var password1 = $('#addUserForm input[name="password1"]').val();
            var password2 = $('#addUserForm input[name="password2"]').val();
            var email = $('#addUserForm input[name="email"]').val();

            // Verifica que ambos campos no estén vacíos
            if(password1 === '' || password2 === '') {
              alert('Ambos campos de contraseña deben ser completados.');
              e.preventDefault(); // Evita enviar el formulario
            } else if(password1 !== password2) {
              // Muestra el mensaje de error
              $('#password1Error').show();
              e.preventDefault(); // Evita enviar el formulario
            } else {
              // Oculta el mensaje de error si las contraseñas coinciden
              $('#password1Error').hide();
            }
                // Validación de nombre de usuario
            if (!/^[a-zA-Z0-9]+$/.test(username) || username.length < 4 || username.length > 50) {
                alert('El nombre de usuario debe tener entre 4 y 50 caracteres y solo puede contener letras y números.');
                e.preventDefault();
                return;
            }
        
                // Validación de nombres
            if (!/^[a-zA-Z]+$/.test(firstName) || firstName.length < 4 || firstName.length > 50) {
                alert('El nombre debe tener entre 4 y 50 caracteres y solo puede contener letras.');
                e.preventDefault();
                return;
            }
            if (!/^[a-zA-Z]+$/.test(lastName) || lastName.length < 4 || lastName.length > 50) {
                alert('El apellido debe tener entre 4 y 50 caracteres y solo puede contener letras.');
                e.preventDefault();
                return;
            }
        
                // Validación de contraseña
            if (!/^(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}$/.test(password1) || password1 !== password2) {
                alert('La contraseña debe tener al menos 8 caracteres, una letra mayúscula, una letra minúscula y un carácter especial. Además, ambas contraseñas deben coincidir.');
                e.preventDefault();
                return;
                }
        
                // Validación de correo electrónico
            if (!/^[a-z]{4,10}@uci\.cu$/.test(email)) {
                alert('El correo electrónico debe tener un formato válido (ejemplo: abcd@uci.cu).');
                e.preventDefault();
                return;
                }
            });
    </script>
    {% block extrajs %}
    {% endblock extrajs%}
</body>

</html>