{% extends "base.html" %}
{% load static %}
<!-- Inicio del Contenido de Pagina -->
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Gestionar Resultados</h1>
    <!-- DataTales Example -->
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row justify-content-between">
                        <div class="col-xs-6">
                            <h2>Listado <b>Resultados</b></h2>
                        </div>
                        <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar resultados..." name ="q" value="{{request.GET.q}}"
                                aria-label="Search" aria-describedby="basic-addon2">
                        </div>
                        </form>
                        <div class="col-xs-6 d-flex align-items-center justify-content-end">
                            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generar Certificado</a>
                            <a href="#addEmployeeModal" class="btn btn-success mr-2" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Añadir</span></a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Equipo</th>
                            <th>Evento</th>
                            <th>Ubicacion</th>
                            <th>Puntuación</th>
                            <th>Puesto</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in resu%}
                        <tr>
                            <td>{{r.inscripcion.nombre_equipo}}</td>
                            <td>{{r.evento.nombre_evento}}</td>
                            <td>{{r.get_ubicacion}}</td>
                            <td>{{r.puntuacion}}</td>
                            <td>{{r.puesto}}</td>
                            <td>
                                <a href="#editEmployeeModal" class="edit" data-toggle="modal" data-id ="{{r.id}}" 
                                                                                              data-nombre_equipo ="{{r.inscripcion.nombre_equipo}}"
                                                                                              data-nombre_evento ="{{r.evento.nombre_evento}}"
                                                                                              data-puntuacion ="{{r.puntuacion}}"
                                                                                              data-puesto ="{{r.puesto}}">
                                <i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
                                <a href="#deleteEmployeeModal" class="delete" data-toggle="modal" data-id ="{{r.id}}"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="2">No hay Resultados</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Página <b>{{page_obj.number}}</b> de <b>{{page_obj.paginator.num_pages}}</b></div>
                    <ul class="pagination">
                        
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a href="{% url 'Gestionar_Resultados'%}?page ={{page_obj.previous_page_number}}">Anterior</a></li>
                        {% else %}
                        <li class="page-item disabled"><a href="#">Anterior</a></li>
                        {% endif %}
                        
   
                        <li class="page-item active"><a class="page-link" href="#">{{page_obj.number}}</a></li>


                        {% if page_obj.has_next %}
                        <li class="page-item"><a href="{% url 'Gestionar_Resultados'%}?page={{page_obj.next_page_number}}">Siguiente</a></li>
                        {% else %}
                        <li class="page-item disabled"><a href="#" class="page-link">Siguiente</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>        
    </div>
    <!-- Edit Modal HTML -->
    <div id="addEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action= "{% url 'Agregar_Resultado'%}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">						
                        <h4 class="modal-title">Añadir Resultado</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					       
                        <div class="form-group">
                            <label for="evento_id">Nombre Equipo</label>
                            <select class="form-control" name="inscripcion" id="incri_id">
                                {% for i in incri %}
                                    <option value="{{ i.id }}">{{i.nombre_equipo}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="evento_id">Evento</label>
                            <select class="form-control" name="evento" id="evento_id">
                                    <option value="{{ i.convocatoria.evento.id }}">{{i.convocatoria.evento.nombre_evento}}</option>
                            </select>
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <label>Puntuación</label>
                            <input type="number" min="0" max="100" class="form-control" name="puntuacion" required>
                        </div>
                        <div class="form-group">
                            <label>Lugar</label>
                            <select class="form-control" name = "puesto" required>
                                <option value= "1ºLugar">1ºLugar</option>
                                <option value ="2ºLugar">2ºLugar</option>
                                <option value ="3ºLugar">3ºLugar</option>     
                                <option value ="Participado">Participado</option>                            
                            </select>
                        </div>			
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-success" value="Aceptar">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id= "editResuForm" action= "{% url 'Modificar_Resultado' 0 %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">						
                        <h4 class="modal-title">Modificar Resultado</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					       
                        <div class="form-group">
                            <label for="evento_id">Nombre Equipo</label>
                            <select class="form-control" name="inscripcion" id="incri_id">
                                {% for i in incri %}
                                    <option value="{{ i.id }}">{{i.nombre_equipo}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="evento_id">Evento</label>
                            <select class="form-control" name="evento" id="evento_id">
                                    <option value="{{ i.convocatoria.evento.id }}">{{i.convocatoria.evento.nombre_evento}}</option>
                            </select>
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <label>Puntuación</label>
                            <input type="number" min="0" max="100" class="form-control" name="puntuacion" required>
                        </div>
                        <div class="form-group">
                            <label>Lugar</label>
                            <select class="form-control" name = "puesto" required>
                                <option value= "1ºLugar">1ºLugar</option>
                                <option value ="2ºLugar">2ºLugar</option>
                                <option value ="3ºLugar">3ºLugar</option>     
                                <option value ="Participado">Participado</option>                            
                            </select>
                        </div>			
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-success" value="Aceptar">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- exito Modal HTML -->
    <div id="exitoEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">						
                        <h4 class="modal-title">Éxito</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <p>Se ha creado el resultado exitosamente</p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-success" data-dismiss="modal" value ="Aceptar">
                    </div>
            </div>
        </div>
    </div>
        <!-- exito edit Modal HTML -->
        <div id="exitoeditEmployeeModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">						
                            <h4 class="modal-title">Éxito</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">					
                            <p>Se ha modificado el resultado exitosamente</p>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-success" data-dismiss="modal" value ="Aceptar">
                        </div>
                </div>
            </div>
        </div>
            <!-- exito delete Modal HTML -->
            <div id="exitodeleteEmployeeModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                            <div class="modal-header">						
                                <h4 class="modal-title">Éxito</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">					
                                <p>Se ha Borrado el resultado exitosamente</p>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-success" data-dismiss="modal" value ="Aceptar">
                            </div>
                    </div>
                </div>
            </div>
    <!-- Delete Modal HTML -->
    <div id="deleteEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id = "deleteResuForm" action = "{% url 'Eliminar_Resultado' 0 %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">						
                        <h4 class="modal-title">Eliminar Resultado</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <p>¿Está seguro que desea eliminar este resultado</p>
                        <p class="text-warning"><small>Esta acción no se puede revertir.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-danger" value="Eliminar">
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}
<!-- Fin del Contenido de Pagina -->
{% block extrajs %}
<script type="text/javascript">
   var $ = jQuery.noConflict()
   $(document).ready(function(){
       // Abrir modal de edición y ajustar acción del formulario
       $('#editEmployeeModal').on('show.bs.modal', function (event) {
           var button = $(event.relatedTarget); // Botón que activó el modal
           var resu_id = button.data('id'); // Extraer info de los atributos data-*
           var nombre_equipo = button.data('nombre_equipo');
           var nombre_evento = button.data('nombre_evento');
           var puntuacion = button.data('puntuacion');
           var puesto = button.data('puesto');
           var modal = $(this);
           var actionUrl = "{% url 'Modificar_Resultado' 0 %}".replace('0', resu_id);
           modal.find('form#editResuForm').attr('action', actionUrl);

           // Rellenar los campos del formulario con los valores extraídos
           modal.find('input[name="nombre_equipo"]').val(nombre_equipo);
           modal.find('input[name="nombre_evento"]').val(nombre_evento);
           modal.find('input[name="puntuacion"]').val(puntuacion);
           modal.find('input[name="puesto"]').val(puesto);
       });
               // Abrir modal de eliminación y ajustar acción del formulario
       $('#deleteEmployeeModal').on('show.bs.modal', function (event) {
           var button = $(event.relatedTarget); // Botón que activó el modal
           var resu_id = button.data('id'); // Extraer info de los atributos data-*

           var modal = $(this);
           var actionUrl = "{% url 'Eliminar_Resultado' 0 %}".replace('0', resu_id);
           modal.find('form#deleteResuForm').attr('action', actionUrl);
       });
               // Obtener los parámetros de la URL
        const params = new URLSearchParams(window.location.search);
        // Comprobar si existe el parámetro 'created'
        if (params.has('created')) {
            // Mostrar la notificación usando modal
            $('#exitoEmployeeModal').modal('show');
        }
        if (params.has('edit')){
            $('#exitoeditEmployeeModal').modal('show');
        }
        if (params.has('delete')){
            $('#exitodeleteEmployeeModal').modal('show');
        }
   });
</script>
{% endblock extrajs %}
